.App {
  text-align: center;
}
input {
  margin: 10px 0 0 43px;
  height: 25px;
  line-height: 30px;
  width: 300px;
  text-align: center;
}
li{
  list-style: none;
  width: 300px;
  margin: 5px auto;
  background: #f1f1f1;
  font-size: 14px;
}
span{
  display: block;
}
.phone{
  float: right;
}
.name{
  float: left;
}
.clearfix{
  clear: both;
}
button{
  width: 300px;
  margin: 10px 0 0 43px;
  background: #aacc00;
}